/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/resources/.DS_Store
/resources/img_*
/resources/*.jpg
src/sketches/ov7670_back/
src/sketches/ov7670_test_backup/
