{"AEC"            [["AECHH" [5 0]] ["AECH" [7 0]] ["COM1" [1 0]]]
 "AECHH"          [0x07]
 "AECH"           [0x10]
 "AEB"            [0x25]
 "AEW"            [0x24]
 "BRIGHT"         [0x55]
 "COM1"           [0x04]
 "COM4"           [0x0D]
 "COM7"           [0x12]
 "COM8"           [0x13]
 "COM9"           [0x14]
 "COM15"          [0x40]
 "COM16"          [0x41]
 "CONTRAS"        [0x56]
 "EDGE"           [0x3F]
 "GAIN"           [0x00]
 "HRL"            [0x9F]
 "LRL"            [0xA0]
 "LPH"            [0xA6]
 "MVFP"           [0x1E]
 "NALG"           [0xAA]
 "REG75"          [0x75]
 "REG76"          [0x76]
 "TLH"            [["AEW" [7 4]]]
 "TLL"            [["AEB" [7 4]]]
 "UPL"            [0xA7]
 "VPT"            [0x26]
 "VREF"           [0x03]
 :aec-mode                   [["COM8"  [0 0]]]
 :aec-speed                  [["COM8"  [7 7]]]
 :aec-algorithm              [["NALG"  [7 7]]]
 :agc-mode                   [["COM8"  [2 2]]]
 :control-zone-ul            [["VPT"   [7 4]]]
 :control-zone-ll            [["VPT"   [3 0]]]
 :flip                       [["MVFP"  [4 4]]]
 :gain                       [["VREF"  [7 6]] ["GAIN" [7 0]]]
 :gain-ceiling               [["COM9"  [6 4]]]
 :mirror                     [["MVFP"  [5 5]]]
 :pixel-format               [["COM7"  [2 2]] ["COM7" [0 0]] ["COM15" [5 5]] ["COM15" [4 4]]]
 :sharpness-mode             [["COM16" [5 5]]]
 :sharpness                  [["EDGE"  [4 0]]]
 :sharpness-ul               [["REG75" [4 0]]]
 :sharpness-ll               [["REG76" [4 0]]]
 :stable-operating-region-ul [["AEW"   [7 0]]]
 :stable-operating-region-ll [["AEB"   [7 0]]]
 :avg-lum-calc-window        [["COM4"  [5 4]]]}
