{"AEC"            [["AECHH" [5 0]] ["AECH" [7 0]] ["COM1" [1 0]]]
 "AECHH"          [0x07]
 "AECH"           [0x10]
 "AEB"            [0x25]
 "AEW"            [0x24]
 "BD50ST"         [0x9D]
 "BD60ST"         [0x9E]
 "BRIGHT"         [0x55]
 "COM1"           [0x04]
 "COM3"           [0x0C]
 "COM4"           [0x0D]
 "COM7"           [0x12]
 "COM8"           [0x13]
 "COM9"           [0x14]
 "COM10"          [0x15]
 "COM11"          [0x3B]
 "COM15"          [0x40]
 "COM16"          [0x41]
 "CONTRAS"        [0x56]
 "DNSTH"          [0x4C]
 "EDGE"           [0x3F]
 "GAIN"           [0x00]
 "GAM1"           [0x7B]
 "GAM2"           [0x7C]
 "GAM3"           [0x7D]
 "GAM4"           [0x7E]
 "GAM5"           [0x7F]
 "GAM6"           [0x80]
 "GAM7"           [0x81]
 "GAM8"           [0x82]
 "GAM9"           [0x83]
 "GAM10"          [0x84]
 "GAM11"          [0x85]
 "GAM12"          [0x86]
 "GAM13"          [0x87]
 "GAM14"          [0x88]
 "GAM15"          [0x89]
 "HRL"            [0x9F]
 "LRL"            [0xA0]
 "LPH"            [0xA6]
 "MTX1"           [0x4F]
 "MTX2"           [0x50]
 "MTX3"           [0x51]
 "MTX4"           [0x52]
 "MTX5"           [0x53]
 "MTX6"           [0x54]
 "MTXS"           [0x58]
 "MVFP"           [0x1E]
 "NALG"           [0xAA]
 "REG75"          [0x75]
 "REG76"          [0x76]
 "REG77"          [0x77]
 "SCALING_XSC"    [0x70]
 "SCALING_YSC"    [0x71]
 "SLOP"           [0x7A]
 "TLH"            [["AEW" [7 4]]]
 "TLL"            [["AEB" [7 4]]]
 "UPL"            [0xA7]
 "VPT"            [0x26]
 "VREF"           [0x03]
 :aec-mode                   [["COM8"  [0 0]]]
 :aec-speed                  [["COM8"  [7 7]]]
 :aec-algorithm              [["NALG"  [7 7]]]
 :agc-mode                   [["COM8"  [2 2]]]
 :avg-lum-calc-window        [["COM4"  [5 4]]]
 :banding-filter-mode        [["COM8"  [5 5]]]
 :banding-filter-selection   [["COM11" [4 3]]]
 :banding-exposure-limit     [["COM11" [1 1]]]
 :color-matrix-sign-bits     [["MTXS"  [5 0]]]
 :control-zone-ul            [["VPT"   [7 4]]]
 :control-zone-ll            [["VPT"   [3 0]]]
 :de-noise-mode              [["COM16" [4 4]]]
 :enable-scaling             [["COM3"  [3 3]]]
 :flip                       [["MVFP"  [4 4]]]
 :gain                       [["VREF"  [7 6]] ["GAIN" [7 0]]]
 :gain-ceiling               [["COM9"  [6 4]]]
 :mirror                     [["MVFP"  [5 5]]]
 :free-running-pixel-clock   [["COM10" [5 5]]]
 :night-mode                 [["COM11" [7 7]]]
 :pixel-format               [["COM7"  [2 2]] ["COM7" [0 0]] ["COM15" [5 5]] ["COM15" [4 4]]]
 :sharpness-mode             [["COM16" [5 5]]]
 :sharpness                  [["EDGE"  [4 0]]]
 :sharpness-ul               [["REG75" [4 0]]]
 :sharpness-ll               [["REG76" [4 0]]]
 :stable-operating-region-ul [["AEW"   [7 0]]]
 :stable-operating-region-ll [["AEB"   [7 0]]]
 :test-pattern               [["SCALING_XSC"  [7 7]] ["SCALING_YSC" [7 7]]]
}
